<div class='row' style="margin-top: 30px;">
  <div class='col-md-12'>
    <div class="card header-card" style=""> <!-- stats header-->
      <h4>
          <div class="header-subsection">
            Analyze your interests
          </div>
          <div class="header-subsection-divider hidden-lg-down">
            |
          </div>
          <div class="header-subsection">
            features
          </div>
      </h4>
    </div> <!-- end stats header -->

    <div class='card-block stats-card' style='padding-left: 50px;'>
      <div class='row stats-row'>

        <div class='col-md-4 about-column about-column-first'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true" '></i>
		        	</div>

							<div class='about-box-text-4'>
		        		<h4>Upload .txt files for storage and analysis</h4>
		        	</div>
	        	</div>
        </div>


        <div class='col-md-4 about-column'>
        	<div class='about-box'>
	        	<div class='about-box-icon'>
	        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
	        	</div>

						<div class='about-box-text-4'>
	        		<h4>Amazon web services stores the analysis online</h4>
	        	</div>
        	</div>
        </div>

        <div class='col-md-4 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
		        	</div>

							<div class='about-box-text-4'>
		        		<h4>Amazon web services stores the analysis online</h4>
		        	</div>
	        	</div>
        </div>

      </div>

      <div class='row footer-row'>
        <div class='col-md-6' style='margin: auto;'>
          <!-- <div class='stats-footer-container'>
            <h4>Created: <%= @created_at %> </h4>
          </div> -->

          <div class='stats-footer-container'>
            <h4>Technologies featured:</h4>
          </div>

         
        </div>
      </div>

    </div>
  </div>
</div>

<div class='row' style="margin-top: 30px;">
  <div class='col-md-12'>
    <div class="card header-card" style=""> <!-- stats header-->
      <h4>
          <div class="header-subsection">
						How it works
          </div>
      </h4>
    </div> <!-- end stats header -->

    <div class='card-block stats-card'>
      <div class='row stats-row'>

        <div class='col-md-3 about-column about-column-first'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true" '></i>
		        	</div>

							<div class='about-box-text-3'>
		        		<h4>
		        			1. An algorithm breaks the text into single words, sorted by wordcount
		        		</h4>
		        	</div>
	        	</div>
        </div>


        <div class='col-md-3 about-column'>
        	<div class='about-box'>
	        	<div class='about-box-icon'>
	        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
	        	</div>

						<div class='about-box-text-3'>
	        		<h4>2. IBM Watson uses machine learning to analyze the content</h4>
	        	</div>
        	</div>
        </div>

        <div class='col-md-3 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
		        	</div>

							<div class='about-box-text-3'>
		        		<h4>3. Amazon web services stores the analysis online</h4>
		        	</div>
	        	</div>
        </div>

        <div class='col-md-3 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
		        	</div>

							<div class='about-box-text-3'>
		        		<h4>4. d3 and chart.js render the analysis on the webpage</h4>
		        	</div>
	        	</div>
        </div>

      </div>

      <div class='row footer-row'>
        <div class='col-md-6' style='margin: auto;'>
          <!-- <div class='stats-footer-container'>
            <h4>Created: <%= @created_at %> </h4>
          </div> -->

          <div class='stats-footer-container'>
            <h4>Technologies featured:</h4>
          </div>

         
        </div>
      </div>

    </div>
  </div>
</div>