<div class='row' style="margin-top: 30px;">
  <div class='col-md-12'>
    <div class="card header-card" style=""> <!-- stats header-->
      <h4>
          <div class="header-subsection">
            Analyze your interests
          </div>
          <div class="header-subsection-divider hidden-lg-down">
            |
          </div>
          <div class="header-subsection">
            features
          </div>
      </h4>
    </div> <!-- end stats header -->

    <div class='card-block stats-card' style='padding-left: 40px; padding-top: 130px;'>
      <div class='row stats-row'>

        <div class='col-md-4 about-column about-column-first-4'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-folder-open-o about-icon" aria-hidden="true" '></i>
		        	</div>

		        	<div class='about-box-header-4'>
		        		Share a file
							</div>

							<div class='about-box-text-4'>
		        		Extract data from any English text, and store it with Amazon Web Services
		        	</div>
	        	</div>
        </div>


        <div class='col-md-4 about-column'>
        	<div class='about-box'>
	        	<div class='about-box-icon'>
	        		<i class="fa fa-hand-pointer-o about-icon" aria-hidden="true"></i>
	        	</div>

						<div class='about-box-header-4'>
							Get a webpage's data
						</div>

						<div class='about-box-text-4'>
	        		Scrape text from reddit comments or any webpage by entering a URL
	        	</div>
        	</div>
        </div>

        <div class='col-md-4 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-male about-icon" aria-hidden="true"></i>
		        	</div>

							<div class='about-box-header-4'>
							</div>

							<div class='about-box-text-4'>
		        		Search for a reddit or twitter user and analyze their posts
		        	</div>
	        	</div>
        </div>

      </div>

      <div class='row footer-row' style='padding-top: 80px; padding-bottom: 10px;'>
        <div class='col-md-12' style='text-align: center;'>
          <!-- <div class='stats-footer-container'>
            <h4>Created: <%= @created_at %> </h4>
          </div> -->

          <div class='stats-footer-container'>
            <h4 style='color: #878787;'>Uses Rails with AWS, Nokogiri, Reddit &amp; Twitter APIs</h4>
          </div>

         
        </div>
      </div>

    </div>
  </div>
</div>

<div class='row' style="margin-top: 30px;">
  <div class='col-md-12'>
    <div class="card header-card" style=""> <!-- stats header-->
      <h4>
          <div class="header-subsection">
						How it works
          </div>
      </h4>
    </div> <!-- end stats header -->

    <div class='card-block stats-card' style='padding-top: 130px;'>
      <div class='row stats-row'>

        <div class='col-md-3 about-column about-column-first-3'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-cogs about-icon" aria-hidden="true"></i>
		        	</div>

		        	<div class='about-box-header-3'>
			        	1
							</div>

							<div class='about-box-text-3'>

	        			A set of algorithms stores the text, then creates a set of wordcounts from it

		        	</div>
	        	</div>
        </div>


        <div class='col-md-3 about-column'>
        	<div class='about-box'>
	        	<div class='about-box-icon'>
	        		<i class="fa fa-comments about-icon" aria-hidden="true"></i>
	        	</div>

	        	<div class='about-box-header-3'>
		        	2
						</div>

						<div class='about-box-text-3'>

        			IBM Watson uses machine learning to analyze the original content

	        	</div>
        	</div>
        </div>

        <div class='col-md-3 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<!-- <i class="fa fa-send about-icon" aria-hidden="true"></i> -->
		        		<i class="fa fa-cloud-download about-icon" aria-hidden="true"></i>
		        	</div>

		        	<div class='about-box-header-3'>
			        	3
							</div>

							<div class='about-box-text-3'>

		        		Rails uses Amazon Web Services to store the analysis online

		        	</div>
	        	</div>
        </div>

        <div class='col-md-3 about-column'>
	        <div class='about-box'>
		        	<div class='about-box-icon'>
		        		<i class="fa fa-pie-chart about-icon" aria-hidden="true"></i>
		        	</div>

		        	<div class='about-box-header-3'>
			        	4
							</div>

							<div class='about-box-text-3'>

		        		d3 and chart.js render the analysis on the webpage

		        	</div>
	        	</div>
        </div>

      </div>

      <div class='row footer-row' style='padding-top: 100px; padding-bottom: 10px;'>
        <div class='col-md-12' style='text-align: center;'>

          <div class='stats-footer-container'>
            <h4 style='color: #878787'>
	            Uses AWS, IBM Watson's Natural Language Understanding API, d3 and chart.js
            </h4>
          </div>
         
        </div>
      </div>

    </div>
  </div>
</div>