<div class="new-book-header-box">
	<h1>Create a new wordcloud</h1>
</div>


<!-- <section style="padding-bottom: 0px;"> -->
	<div class="book-new-row" style="">
		<div class="col-md-5 book-new-column">
			<div class="card">
			    <div class="card-block book-url-card">
			        <!--Header-->
			        <div class="text-center">
			            <h3><i class=""></i>Online</h3>
			            <hr class="mt-2 mb-2">

			            <%= form_tag "/books", method: :post do %>
				            <%= hidden_field_tag "form_identifier", "url" %>
			            	<div class="md-form book-url-md-form">
											<i class="fa fa-edit prefix" style="color: #a5a5a5" aria-hidden="true"></i>
											<input type="text" name="title" id="title-form" class="">
											<label for="title-form">Title</label>
										</div>


										<div class="md-form book-url-md-form">
											<i class="fa fa-at prefix" style="color: #a5a5a5"  aria-hidden="true"></i>
											<input type="text" name="url" id="url-form" class="">
											<label for="url-form">URL</label>
										</div>

										<div style="padding-top: 8px;">
											<h3 style="color: #b7b7b7;">By name</h3>
										</div>

				            <div class="md-form book-url-md-form">
											<i class="fa fa-reddit-alien prefix" style="color: #e5e3e3;" aria-hidden="true"></i>
											<input type="text" name="reddit_username" id="reddit-form" class="">
											<label for="reddit-form">reddit</label>
										</div>

										<div class="md-form book-url-md-form">
											<i class="fa fa-twitter prefix" style="color: #758cff;" aria-hidden="true"></i>
											<input type="text" name="twitter_username" id="twitter-form" class="">
											<label for="twitter-form">twitter</label>
										</div>

										<button type="submit" class="btn btn-lime" style="margin-top: 40px;">Go!</button>
									<% end %>
			        </div>
			    </div>
			    <!--Footer-->
			</div>
			<!--/Form without header-->
		</div>
	</div>

	<div class="book-new-row" style="padding-top: 10px; padding-bottom: 40px;">
		<div class="col-md-5 book-new-column">
			<div class="card">
			    <div class="card-block book-upload-card">
			        <!--Header-->
			        <div class="text-center">
			            <h3><i class=""></i>Upload text</h3>
			            <hr class="mt-2 mb-2">

			            <%= form_tag books_path, enctype: 'multipart/form-data' do %>

			            	<div class="md-form book-upload-md-form">
			            		<%= hidden_field_tag "form_identifier", "file" %>
											<!-- <input type="text" name="title" placeholder="Title"><br /> -->
											<i class="fa fa-edit prefix" style="color: #a5a5a5" aria-hidden="true"></i>
											<input type="text" name="title" id="file-title-form" class="">
											<label for="file-title-form">Title</label>
										</div>
											
										<div class="hidden-file-div">
											<input type="file" name="file" class="hidden-file" id="choose-file" value="hidden file button">
										</div>

										<button type="button" class="btn btn-default" id="activate-file-choose">Choose a file</button>
										<button type="submit" class="btn btn-lime">Go!</button>

									<% end %>
			        </div>
			    </div>
			    <!--Footer-->
			</div>
			<!--/Form without header-->
		</div>
	</div>
<!-- </section> -->


<!-- trigger the file chooser -->
<script type="text/javascript">
	$("#activate-file-choose").click(function() {
    $("#choose-file").click();
    console.log("activated");
	})
</script>



