<head>
    <title>Word Cloud</title>
    <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/assets/javascripts/d3.js" charset="utf-8"></script>
    <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/assets/javascripts/d3.layout.cloud.js"></script>
    <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/assets/javascripts/d3.wordcloud.js"></script>
    <script src="<%= @book.book_cloud_url %>"></script>
    <!-- <script src="https://s3-us-west-1.amazonaws.com/projectgutenbergtest/book_clouds/pride_and_prejudice.js"></script> -->
  </head>
  <body style="text-align: center">
    <h1>Word Cloud</h1>
    <div id='wordcloud'></div>

    <p><a href="https://github.com/wvengen/d3-wordcloud">https://github.com/wvengen/d3-wordcloud</a></p>
    <script>



      d3.wordcloud()
        .size([1270, 400])
        .spiral('archimedean')
        .scale('sqrt')
        .font('times')
        .fill(d3.scale.ordinal().range(["#0d0144", "#1a0a63", "#35228e", "#513cb2", "#7d69db"]))
        .words(words)
        .onwordclick(function(d, i) {
          if (d.href) { window.location = d.href; }
        })
        .start();
    </script>
  </body>