.about-card {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 0px;
	/*padding: 0px;*/
	background-color: #f7f7f7;
}


.about-box-icon {
}

.about-box-text-4 {
padding: 40px;
}

.about-box-text-3 {
padding-top: 40px;
}

.about-column {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 60px;
	padding-right: 0px;
}

.about-column-first {
	padding-left: 50px;
	padding-right: 0px;
}

.about-icon {
	color: #33407a;
	font-size: 8em;
}