.about-card {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 40px;
	padding-top: 10px;
	padding-left: 0px;
	/*padding: 0px;*/
	background-color: #f7f7f7;
}


.about-box-icon {
}

.about-box-header-4 {
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 20px;
	font-size: 1.7em;
	font-weight: thin;
}

.about-box-header-3 {
	font-family: Verdana, Geneva, sans-serif;
	padding-top: 40px;
	font-size: 1.7em;
	font-weight: thin;
}

.about-box-text-4 {
	color: #565656;
	padding: 40px;
	font-size: 1.2em;
	font-weight: lighter;
}

.about-box-text-3 {
	color: #565656;
	padding-top: 40px;
	font-size: 1.2em;
	font-weight: lighter;
}

.about-column {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
	padding-left: 60px;
	padding-right: 0px;
}

.about-column-first {
	padding-left: 50px;
	padding-right: 0px;
}

.about-icon {
	color: #273260;
	/*color: #33407a;*/
	font-size: 8em;
}