// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #8db3ef;
}


.header-box {
	/*color: #4a4777;*/
	word-wrap: break-word;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.index-header-box {
	/*color: #4a4777;*/
	word-wrap: break-word;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.header-box {
	/*color: #4a4777;*/
	word-wrap: break-word;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.new-book-header-box {
	text-align: center;
	color: default;
	margin-top: 50px;
	margin-bottom: 60px;
}

.header-subsection-divider {
	display: inline-block; 
	padding-left: 15px; 
	color: #34347a;
}

.header-subsection {
	display: inline-block; 
	padding-left: 15px; 
	color: #2e2e60;
}


.header-link {
	color: #f7f7f7;
	font-weight: thin;

	-moz-transition:color .2s ease-in;
  -o-transition:color .2s ease-in;
  -webkit-transition:color .2s ease-in;
  transition: all .2s ease-in;

}

.header-link:hover {
	color: #eaeaea;
}

#wordcloud {
	background-color: #f7f7f7;
	padding: 0px;
	padding-top: 18px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 10px;
	margin: 20px;
	margin-top: 10px;
}

.flex-center {
	webkit-justify-content: flex-start; 
  justify-content: flex-start; 
  -webkit-align-items: stretch; 
  align-items: stretch; 
}

.like-button-span {
	float: right;
}

input {
	font-family: Roboto,sans-serif;
}


.hidden-file {
	display: none;
}

.btn {
	/*font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;*/
}

.btn-primary {
	padding: 15px;
}

.btn-lime {
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

.btn-default {
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-danger {
	padding: 15px;
}

.book-button-long {
	padding-left: 40px;
	padding-right: 40px;
}

.book-button-short {
	padding-left: 30px;
	padding-right: 30px;
}

.row {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
	margin-top: 10px;
}

.col-md-4 {
	length: 100%;
	padding: 6px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.book-new-column {
	margin: auto;
	/*margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;*/
}

.book-new-row {
	margin-bottom: 100px;
	/*padding-bottom: 100px;*/
}

.book-card {
	background-color: #f7f7f7;
	padding: 15px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 40px;
	padding-bottom: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
	margin-right: 4px;
}

.book-title {
	color: white;
}

.book-url-card {
	/*min-height: 350px;*/
	padding-top: 27px;
	padding-bottom: 27px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-username-card {
	/*min-height: 350px;*/
	padding-top: 27px;
	padding-bottom: 27px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-upload-card {
	/*min-height: 350px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-url-md-form {
	/* sets padding for input textboxes in new.html.erb */
	margin-right: 5px;
}

.book-upload-md-form {
	/* sets padding for input textboxes in new.html.erb */
	/*margin-top: 20px;*/
	/*margin-bottom: 87px;*/
	margin-bottom: 40px;
	margin-right: 5px;
}


