// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	background-color: #8db3ef;
}

.header-box {
	padding-left: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
}

.header-link {
	color: #000282;
	font-weight: normal;
}

#wordcloud {
	background-color: #f7f7f7;
	padding: 0px;
	padding-top: 18px;
	padding-bottom: 10px;
	padding-left: 10px;
	padding-right: 10px;
	margin: 20px;
	margin-top: 10px;
}

.flex-center {
	webkit-justify-content: flex-start; 
  justify-content: flex-start; 
  -webkit-align-items: stretch; 
  align-items: stretch; 
}

.like-button-span {
	float: right;
}

input {
	font-family: Roboto,sans-serif;
}


.hidden-file {
	display: none;
}

.btn {
	/*font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;*/
}

.btn-primary {
	padding: 15px;
}

.btn-lime {
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

.btn-default {
	padding: 10px;
}

.btn-danger {
	padding: 15px;
}

.book-button-long {
	padding-left: 40px;
	padding-right: 40px;
}

.book-button-short {
	padding-left: 30px;
	padding-right: 30px;
}

.col-md-4 {
	length: 100%;
	padding: 6px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.row {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
	margin-top: 10px;
}


.book-card {
	background-color: #f7f7f7;
	padding: 15px;
	/*padding-right: 1px;*/
	/*padding-left: 0px;*/
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
	margin-right: 4px;
}

.book-title {
	color: white;
}