// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
	/*background-color: #96beff;*/
	background-color: #91b9ff;
}

.container {
	margin: 0px;
	padding: 0px;
}

.header-box {
	color: #2f3a8e;
	word-wrap: break-word;
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

.index-header-box {
	color: #2f3a8e;
	word-wrap: break-word;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 50px;
	margin-bottom: 60px;
}

.header-card {
	margin-top: 10px; 
	margin-bottom: 0px; 
	margin-left: 5px; 
	margin-right: 5px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 10px;
	background-color: #33407a;
	/*background-color: #2c6099;*/
	/*background-color: #4583c6;*/
	/*background-color: #3885d8;*/
}

.header-box {
	/*color: #4a4777;*/
	word-wrap: break-word;
	padding-left: 70px;
	padding-right: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
}



.new-book-header-box {
	text-align: center;
	color: default;
	margin-top: 50px;
	margin-bottom: 60px;
}

.header-subsection-divider {
	display: inline-block; 
	padding-left: 15px; 
	/*color: #34347a;*/
	color: #94acdd;
}

.header-subsection {
	display: inline-block; 
	padding-left: 15px; 
	color: #91b9ff;
}


.header-link {
	color: #e0eaff;
	font-weight: thin;

	-moz-transition:color .2s ease-in;
  -o-transition:color .2s ease-in;
  -webkit-transition:color .2s ease-in;
  transition: all .2s ease-in;

}

.header-link:hover {
	color: #eaeaea;
}

.wordcloud-card {
	margin-top: 0px;
}

#wordcloud {
	background-color: #f7f7f7;
	padding: 0px;
	padding-top: 18px;
	padding-bottom: 10px;
	padding-left: 15px;
	padding-right: 10px;
	margin: 5px;
	margin-top: 0px;
}

.flex-center {
	webkit-justify-content: flex-start; 
  justify-content: flex-start; 
  -webkit-align-items: stretch; 
  align-items: stretch; 
}

.like-button-span {
	float: right;
}

.like-button {
	background-color: #5379ed;
}

input {
	font-family: Roboto,sans-serif;
}


.hidden-file {
	display: none;
}

.btn {
	/*font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;*/
}

.btn-primary {
	padding: 15px;
}

.btn-lime {
	padding: 15px;
	padding-left: 50px;
	padding-right: 50px;
}

.btn-default {
	padding: 15px;
	padding-left: 30px;
	padding-right: 30px;
}

.btn-danger {
	padding: 15px;
}

.book-button-long {
	padding-left: 40px;
	padding-right: 40px;
}

.book-button-short {
	padding-left: 30px;
	padding-right: 30px;
}

.row {
	width: 100%;
	padding-top: 0px;
	padding-bottom: 0px;
	padding-left: 30px;
	padding-right: 0px;
	margin-top: 10px;
}


.stats-row {
	padding-left: 0px;
}

.col-md-4 {
	length: 100%;
	padding: 6px;
	margin-top: 0px;
	margin-left: 0px;
	margin-right: 0px;
}

.book-new-column {
	margin: auto;
	/*margin-left: 50px;
	margin-right: 50px;
	margin-bottom: 50px;*/
}

.book-new-row {
	margin-bottom: 100px;
	/*padding-bottom: 100px;*/
}

.book-card {
	background-color: #f7f7f7;
	padding: 15px;
	padding-top: 40px;
	padding-left: 40px;
	padding-right: 20px;
	padding-bottom: 32px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 7px;
	margin-right: 4px;
}

.book-title {
	color: white;
}

.book-url-card {
	/*min-height: 350px;*/
	padding-top: 27px;
	padding-bottom: 27px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-username-card {
	/*min-height: 350px;*/
	padding-top: 27px;
	padding-bottom: 27px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-upload-card {
	/*min-height: 350px;*/
	padding-top: 30px;
	padding-bottom: 30px;
	margin-right: 2px;
	margin-left: 2px;
}

.book-url-md-form {
	/* sets padding for input textboxes in new.html.erb */
	margin-right: 5px;
}

.book-upload-md-form {
	/* sets padding for input textboxes in new.html.erb */
	/*margin-top: 20px;*/
	/*margin-bottom: 87px;*/
	margin-bottom: 40px;
	margin-right: 5px;
}

.stats-card {
	margin-left: 5px;
	margin-right: 5px;
	padding-top: 10px;
	padding-left: 0px;
	/*padding: 0px;*/
	background-color: #f7f7f7;
}

.stats-column {
	text-align: center;
	margin-left: 0px;
	margin-right: 0px;
}

.stats-column-first {
	padding-left: 20px;
	margin-right: 0px;
}

.stats-doughnut-chart-container {
	vertical-align: bottom;
	display: inline-block;
	text-align: center;
}

.stats-doughnut-chart {
	width: 300px;
	/*display: inline-block;*/
	/*margin-left: 200px;*/
}

.stats-key-phrases-container {
	height: 100%;
	width: 100%;
	vertical-align: bottom;
	display: inline-block;
	text-align: center;
	/*text-align: left;*/
	/*padding-top: 100px;*/
}

.stats-key-phrases {
	color: #2f3a8e;
	font-size: .75em;
	text-align: left;
	padding-right: 0px;
	padding-left: 0px;
	padding-top: 20px;
	ol li {
		text-align: left;
	};
}

.stats-key-phrases-list-div {
	padding-top: 0px;
	padding-bottom: 10px;
}

.stats-bar-chart-container {
	height: 100%;
	vertical-align: bottom;
	display: inline-block;
	text-align: center;
	/*margin-left: 20px;*/
	/*text-align: left;*/
	/*padding-top: 100px;*/
}

.stats-bar-chart {
	font-size: 0.75em;
	font-family: Arial;
	color: #848484;
	padding-top: 20px;
	/*padding-bottom: 40px;*/
	/*width: 100px;*/
	/*min-height: 210px;*/
	/*display: inline-block;*/
	/*text-align: left;*/
}


