// Place all the styles related to the Books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flex-center {
	webkit-justify-content: flex-start; 
  justify-content: flex-start; 
  -webkit-align-items: stretch; 
  align-items: stretch; 
}

.like-button-span {
	float: right;
}

input {
	font-family: Roboto,sans-serif;
}

.like-button {
}

.btn {
	/*font-family: "Lucida Sans Typewriter", "Lucida Console", monaco, "Bitstream Vera Sans Mono", monospace;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;*/
}

.row {
	padding-top: 15px;
	padding-bottom: 0px;
	padding-left: 15px;
	padding-right: 15px;
}

.card-block {
	padding: 15px;
	margin-top: 0px;
	margin-bottom: 0px;
	margin-left: 10px;
	margin-right: 10px;
}